# chezmoi configuration
# Secrets are fetched directly from 1Password "Dotfiles" vault

[onepassword]
    prompt = true

[data]
    email = "fred@fredamaral.com.br"
    name = "Fred Amaral"
    # GPG signing key - comment out or remove if you don't use GPG signing
    gpg_signing_key = "ADFE56C96F4AC56A"
